# see
# https://docs.github.com/en/actions/using-workflows/reusing-workflows
# https://rakesh-suryawanshi.medium.com/unit-testing-report-with-github-actions-7216f340044e
# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net#building-and-testing-your-code

on:
  workflow_call:

name: reusable test runner

permissions:
  contents: read
  actions: read
  pull-requests: read
  checks: write

jobs:
  run_tests:
    name: run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet: [
          { tfm: net10.0, version: '10.0.x' }
        ]
    env:
      BUILD_CONFIG: Release
      SOLUTION: DiplomaticMailBot.sln

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          10.0.x

    - name: Display dotnet version
      run: |
        echo "matrix dotnet version: ${{ matrix.dotnet.version }}"
        dotnet --version

    - name: Run tests
      run: |
        dotnet tool install --global Microsoft.CodeCoverage.Console

        dotnet test $SOLUTION -s .runsettings --configuration $BUILD_CONFIG --framework ${{ matrix.dotnet.tfm }} --logger trx --results-directory "TestResults" /maxcpucount:1 /p:CollectCoverage=true /p:CoverletOutputFormat="cobertura" /p:CoverletOutput="./TestResults/coverage" --verbosity normal

        MERGED_REPORT_PATH="./FinalCoverageReport/coverage.cobertura.xml"

        echo "Creating directory: $(dirname "$MERGED_REPORT_PATH")"
        mkdir -p "$(dirname "$MERGED_REPORT_PATH")"

        echo "Searching for coverage files..."
        find . -path '*/TestResults/coverage.cobertura.xml' -print0 | xargs -0 codecoverage merge -o "$MERGED_REPORT_PATH" -f cobertura

        if [ $? -eq 0 ]; then
          echo "Coverage files successfully merged into: $MERGED_REPORT_PATH"
        else
          echo "Error during coverage file merge."
          exit 1
        fi

    - name: Upload test results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: dotnet-test-results-${{ matrix.dotnet.version }}
        path: TestResults

    - name: Publish test report
      uses: dorny/test-reporter@v1
      if: always()
      with:
        name: dotnet-test-results-${{ matrix.dotnet.version }}
        path: "**/*.trx"
        reporter: dotnet-trx
        fail-on-error: true

    - name: Create Test Coverage Badge
      uses: gaelgirodon/ci-badges-action@v1
      with:
        gist-id: a3b00492f5c856c25ee7101f4257108f
        token: ${{ secrets.GIST_AUTH_TOKEN }}
